body
{
    color: springgreen;
    text-align: center;
<<<<<<< HEAD
    
=======
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
>>>>>>> master
    font-style: italic;
    background-color: black;
}

